**/*.zip
**/tmp/*

#   example directories : 
**/other_example/*

#   unpolished_csv :
**/000_unpolished_csv/*.csv
**/000_unpolished_csv/*.zip


#   heavy polished csv_s
**/000_data-polishers/final_csv/anime_revs.csv

# should upload compressed ? 
**/000_data-polishers/final_csv/*.zip 
**/000_data-polishers/final_csv/*.rar


#   uploader tests :
**/tmp_dp/*
