<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <title th:text="${animeDetails.title}"></title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/img/mc_bookshelf.png">


        <!-- Main CSS File -->
        <link href="css/style.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">

        <!-- AOS : Animation On Scroll -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        
        <!-- AJAX jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../local/jquery-3.6.1.min.js">\x3C/script>')</script>
        
        <!-- JavaScript-->
        <script src="js/searchBar.js" type="text/javascript"></script>
        <script src="js/search_btn.js" type="text/javascript"></script>

        <script src="js/logout_btn.js" type="text/javascript"></script>
        <script src="js/animeDetailsPage.js" type="text/javascript"></script>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="main">
            <!-- Value taken by Thymeleaf to understand if the user is logged in and if he is an admin -->
            <input type="hidden" id="is_logged" th:value="${logged}"/>
            <input type="hidden" id="is_admin" th:value="${is_admin}"/>
            <input type="hidden" id="animeId" th:value="${animeDetails.id}"/>
            <input type="hidden" id="animeTitle" th:value="${animeDetails.title}"/>

            <!-- Dynamic header -->
            <header class="header sticky-top shadow">

            </header>
            <!-- End header -->
            <section id="hero" class="d-flex flex-column align-items-center container-fluid p-3">
                <div class="gap-1 d-flex flex-column container-fluid justify-content-center" data-aos="zoom-in" data-aos-delay="150">
                    <div id="anime_info_container" class="d-flex mb-1 align-items-center col-md-12">
                        <img id="anime_cover" class="anime-cover" th:src="${animeDetails.imgURL}" onerror="this.onerror=null;this.src='img/img-not-found.jpg'"/>
                        <div id="aniDet_container" class="anime-details d-flex flex-column">
                            <h1 id="anime_title"  class="row" th:text="${animeDetails.title}"></h1>
                            <table id="anime_table">
                                <tr>
                                    <th>Japanese Title : </th>
                                    <th th:text="${animeDetails.titleJapanese}" ></th>
                                </tr>
                                <tr>
                                    <th>Type (media) : </th>
                                    <th th:text="${animeDetails.type}" ></th>
                                </tr>
                                <tr>
                                    <th>Source : </th>
                                    <th th:text="${animeDetails.source}" ></th>
                                </tr>
                                <tr>
                                    <th>Number of episodes : </th>
                                    <th id="numEpMaxThisAnime" th:text="${animeDetails.episodes}" ></th>
                                </tr>
                                <tr>
                                    <th>Episode Duration : </th>
                                    <th th:text="${animeDetails.episodeDuration}" ></th>
                                </tr>
                                <tr>
                                    <th>Still Airing : </th>
                                    <th th:text="${animeDetails.airing}" ></th>
                                </tr>
                                <tr>
                                    <th>Broadcast day : </th>
                                    <th th:text="${animeDetails.broadcast}" ></th>
                                </tr>
                                <tr>
                                    <th>Airing period : </th>
                                    <th th:text="${animeDetails.aired}" ></th>
                                </tr>
                                <tr>
                                    <th>People that watched it : </th>
                                    <th th:text="${animeDetails.watchers}" ></th>
                                </tr>
                                <tr>
                                    <th>Brief Background : </th>
                                    <th th:text="${animeDetails.background}" ></th>
                                </tr>
                                <tr>
                                    <th>Producer(s) : </th>
                                    <th th:text="${animeDetails.producer}" ></th>
                                </tr>
                                <tr>
                                    <th>Licensor : </th>
                                    <th th:text="${animeDetails.licensor}" ></th>
                                </tr>
                                <tr>
                                    <th>Genres : </th>
                                    <th th:if="${animeDetails.genre != null}" >
                                        <ul>
                                            <th:block th:object="${animeDetails}">
                                                <li th:each="item : *{genre}" th:text="${item}"></li>
                                            </th:block>
                                        </ul>
                                    </th>

                                </tr>

                            </table>
                            <!--
                            <div th:if="${animeDetails.genre != null}">
                                <h1>Result</h1>
                                <ul>
                                    <th:block th:object="${animeDetails}">
                                        <li th:each="item : *{genre}" th:text="${item}"></li>
                                    </th:block>
                                </ul>
                            </div>
                            -->

                            <div class="d-flex mt-0 mb-0 gap-3 align-items-center">
                                <p id="anime_duration_page" th:text="${animeTotalDuration}"></p>
                            </div>
                            <div class="d-flex gap-3">
                                <!--
                                <div id="like_anime_container" class="d-flex w-25 align-items-center">
                                    <button id="like_anime_btn" class="btn btn-danger ms-1" type="button" >
                                        <i class="fas fa-heart me-1"></i>Like
                                    </button>
                                    <div id="number_of_likes_anime" class="ms-3" th:text="${animeDetails.scoredBy}"></div>
                                </div>
                                -->
                                <div id="average_rating_container" class="d-flex w-25 align-items-center">
                                    <span class="text-bg-warning p-3">
                                        Average score
                                    </span>
                                    <i class="fa fa-star me-1 ps-3"></i>
                                    <div id="average_rating" th:text="${animeDetails.averageScore}"></div>
                                </div>

                            </div>


                            <div id = "form_container" style="min-height: 70px;width: 40%">
                                <form class="filters" autocomplete="off">
                                    <!-- TYPE -->
                                    <div class="filter setAnimeToListFilter" style="width: 80%">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="setAnimeToList_btn" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="value" data-placeholder="Select type" data-label-placement="true">Choose List for this anime</span>
                                            </button>
                                            <ul class="dropdown-menu md " aria-labelledby="setAnimeToList_btn">
                                                <li title="CurW">
                                                    <input name="setAnimeLstn_radio" type="radio" id="List1" value="Currently Watching"/>
                                                    <label for="List1">Currently Watching</label>
                                                </li>
                                                <li title="Comp">
                                                    <input name="setAnimeLstn_radio" type="radio" id="List2" value="Completed"/>
                                                    <label for="List2">Completed</label>
                                                </li>
                                                <li title="OnHo">
                                                    <input name="setAnimeLstn_radio" type="radio" id="List3" value="On Hold"/>
                                                    <label for="List3">On Hold</label>
                                                </li>
                                                <li title="Drpd">
                                                    <input name="setAnimeLstn_radio" type="radio" id="List4" value="Dropped"/>
                                                    <label for="List4">Dropped</label>
                                                </li>
                                                <li title="PlnW">
                                                    <input name="setAnimeLstn_radio" type="radio" id="List6" value="Plan To Watch"/>
                                                    <label for="List6">Plan To Watch</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                <div  class="submit filter w-auto" >
                                    <button id="doSetAnimeList_btn" class="d-flex align-items-center" >
                                        <span class="ml-1"> Set Anime To List </span>
                                    </button>
                                </div>

                            </div>



                            <div id = "watchedEP_container" style=" width: 40%; border-radius: 5px; padding: 5px; margin: 10px; border: 1px solid; min-height: 130px;">
                                <div class="mb-3">
                                    <label for="userNumWatchedEpisodes_input" class="form-label">Number of watched episodes </label>
                                    <input id="userNumWatchedEpisodes_input" class="form-control" type="number" min="0">
                                </div>
                                <div  class="submit filter " style="width: 400px" >
                                    <button id="setAnimeWatchedEp_btn" class="d-flex align-items-center" >
                                        <span class="ml-1"> Set Anime To List </span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="d-flex gap-1">
                        <div class="d-flex flex-column col-md-12">
                            <div id="anime_reviews" class="d-flex flex-column">
                                <div id="latest_reviews" class="d-flex flex-column row-gap-1 p-1">
                                    <h1 style="text-align: center ; background-color: #ffffff4e ; ">Last 5 reviews</h1>
                                    <div th:each="rec_review : ${animeDetails.mostRecentReviews}" class="anime-review d-flex flex-column p-3">
                                        <div class="d-flex align-items-center gap-1">
                                            <h5 class="rating_review text-bg-dark p-1 ps-3 pe-3" style="width: 130px ; margin-right: 20px; padding-right: 10px;">
                                                <i class="fas fa-star me-1"  >
                                                    <span th:text="'Score : ' + ${rec_review.score}"></span>
                                                </i>
                                            </h5>
                                            <a  th:href="@{'/userPage'(username=${rec_review.username})}" style="width: 250px">
                                                <h4 th:text="' by : ' + ${rec_review.username}" class="user_review"></h4>
                                            </a>
                                            <h5 class="rating_review p-1 ps-3 pe-3">
                                                <!--
                                                <span th:text="' ... in date : ' + ${rec_review.timestamp}"></span>
                                                -->
                                                <span th:text="' ... in date : ' + ${{#dates.format( rec_review.timestamp , 'yyyy-MM-dd HH:mm')}} "></span>

                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align:center " >
                                    <button id="viewAnimeReviews_btn" class="btn btn-primary mt-1 col-5" style="font-size: 35px;"  type="button">View all the reviews</button>
                                    <button id="writeReview_btn" class="btn btn-primary mt-1 col-5" style="font-size: 35px;" type="button">Write a review</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex gap-1">
                        <div class="d-flex flex-column col-md-12 gap-1">
                            <div id="anime_related" class="d-flex flex-column">
                                <div  class="d-flex flex-column row-gap-1 p-1">
                                    <h1 style="text-align: center ; background-color: #ffffff4e ; ">Related Anime : </h1>
                                    <div th:each="aniRel : ${animeRelated}" class="anime-review d-flex flex-column p-3">
                                        <div class="d-flex top-container align-items-center" >
                                            <h5 class="related_anime_type text-bg-dark p-1 ps-3 pe-3" style="margin-bottom: 0px ; margin-right: 30px" >
                                                <span th:text="${aniRel.relationship}" ></span>
                                            </h5>
                                            <img class="img_resize" style="margin: 8px; padding: 4px" th:src="${aniRel.imgURL}" onerror="this.onerror=null;this.src='img/img-not-found.jpg'">
                                            <a  th:href="@{'/animeDetails'(title=${aniRel.title})}" >
                                                <h4 th:text="${aniRel.title}" class="user_review"></h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>

        <!-- JavaScript's management of the buttons -->


        <!-- AOS JavaScript -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>