<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <title th:text="${animeDetails.title}"></title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/img/mc_bookshelf.png">


        <!-- Main CSS File -->
        <link href="css/style.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">

        <!-- AOS : Animation On Scroll -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        
        <!-- AJAX jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../local/jquery-3.6.1.min.js">\x3C/script>')</script>
        
        <!-- JavaScript-->
        <script src="js/search_btn.js" type="text/javascript"></script>
        <script src="js/searchBar.js" type="text/javascript"></script>
        <script src="js/logout_btn.js" type="text/javascript"></script>
        <script src="js/animeDetailsPage.js" type="text/javascript"></script>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="main">
            <!-- Value taken by Thymeleaf to understand if the user is logged in and if he is an admin -->
            <input type="hidden" id="is_logged" th:value="${logged}"/>
            <input type="hidden" id="is_admin" th:value="${is_admin}"/>
            <input type="hidden" id="animeId" th:value="${animeDetails.id}"/>
            <input type="hidden" id="animeTitle" th:value="${animeDetails.title}"/>

            <!-- Dynamic header -->
            <header class="header sticky-top shadow">

            </header>
            <!-- End header -->
            <section id="hero" class="d-flex flex-column align-items-center container-fluid p-3">
                <div class="gap-1 d-flex flex-column container-fluid justify-content-center" data-aos="zoom-in" data-aos-delay="150">
                    <div id="anime_info_container" class="d-flex mb-1 align-items-center col-md-12">
                        <img id="anime_cover" class="anime-cover" th:src="${animeDetails.imgURL}" alt="Copertina Anime"/>
                        <div id="aniDet_container" class="anime-details d-flex flex-column">
                            <h1 id="anime_title"  class="row" th:text="${animeDetails.title}"></h1>
                            <table id="anime_table">
                                <tr>
                                    <th>Japanese Title : </th>
                                    <th th:text="${animeDetails.titleJapanese}" ></th>
                                </tr>
                                <tr>
                                    <th>Type (media) : </th>
                                    <th th:text="${animeDetails.type}" ></th>
                                </tr>
                                <tr>
                                    <th>Source : </th>
                                    <th th:text="${animeDetails.source}" ></th>
                                </tr>
                                <tr>
                                    <th>Number of episodes : </th>
                                    <th th:text="${animeDetails.episodes}" ></th>
                                </tr>
                                <tr>
                                    <th>Episode Duration : </th>
                                    <th th:text="${animeDetails.episodeDuration}" ></th>
                                </tr>
                                <tr>
                                    <th>Still Airing : </th>
                                    <th th:text="${animeDetails.airing}" ></th>
                                </tr>
                                <tr>
                                    <th>Broadcast day : </th>
                                    <th th:text="${animeDetails.broadcast}" ></th>
                                </tr>
                                <tr>
                                    <th>Airing period : </th>
                                    <th th:text="${animeDetails.aired}" ></th>
                                </tr>
                                <tr>
                                    <th>People that watched it : </th>
                                    <th th:text="${animeDetails.watchers}" ></th>
                                </tr>
                                <tr>
                                    <th>Brief Background : </th>
                                    <th th:text="${animeDetails.background}" ></th>
                                </tr>
                                <tr>
                                    <th>Producer(s) : </th>
                                    <th th:text="${animeDetails.producer}" ></th>
                                </tr>
                                <tr>
                                    <th>Licensor : </th>
                                    <th th:text="${animeDetails.licensor}" ></th>
                                </tr>
                                <tr>
                                    <th>Genres : </th>
                                    <th th:if="${animeDetails.genre != null}" >
                                        <ul>
                                            <th:block th:object="${animeDetails}">
                                                <li th:each="item : *{genre}" th:text="${item}"></li>
                                            </th:block>
                                        </ul>
                                    </th>

                                </tr>

                            </table>
                            <!--
                            <div th:if="${animeDetails.genre != null}">
                                <h1>Result</h1>
                                <ul>
                                    <th:block th:object="${animeDetails}">
                                        <li th:each="item : *{genre}" th:text="${item}"></li>
                                    </th:block>
                                </ul>
                            </div>
                            -->

                            <div class="d-flex mt-0 mb-0 gap-3 align-items-center">
                                <p id="anime_duration_page" th:text="${animeTotalDuration}"></p>
                            </div>
                            <div class="d-flex gap-3">
                                <!--
                                <div id="like_anime_container" class="d-flex w-25 align-items-center">
                                    <button id="like_anime_btn" class="btn btn-danger ms-1" type="button" >
                                        <i class="fas fa-heart me-1"></i>Like
                                    </button>
                                    <div id="number_of_likes_anime" class="ms-3" th:text="${animeDetails.scoredBy}"></div>
                                </div>
                                -->
                                <div id="average_rating_container" class="d-flex w-25 align-items-center">
                                    <span class="text-bg-warning p-3">
                                        Average rating
                                    </span>
                                    <i class="fa fa-star me-1 ps-3"></i>
                                    <div id="average_rating" th:text="${animeDetails.averageScore}"></div>
                                </div>

                            </div>


                            <div id = "form_container" style="min-height: 70px;width: 70%">
                                <form class="filters" autocomplete="off">
                                    <!-- TYPE -->
                                    <div class="filter setAnimeToListFilter" style="width: 40%">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="setAnimeToList_btn" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="value" data-placeholder="Select type" data-label-placement="true">Choose List for this anime</span>
                                            </button>
                                            <ul class="dropdown-menu md " aria-labelledby="setAnimeToList_btn">
                                                <li title="Movie">
                                                    <input name="setAnimeLstn_radio" type="radio" id="anisetF_CurW" value="movie"/>
                                                    <label for="anisetF_CurW">Currently Watching</label>
                                                </li>
                                                <li title="Music">
                                                    <input name="setAnimeLstn_radio" type="radio" id="anisetF_Comp" value="music"/>
                                                    <label for="anisetF_Comp">Completed</label>
                                                </li>
                                                <li title="ONA">
                                                    <input name="setAnimeLstn_radio" type="radio" id="anisetF_OnHo" value="ona"/>
                                                    <label for="anisetF_OnHo">On hold</label>
                                                </li>
                                                <li title="OVA">
                                                    <input name="setAnimeLstn_radio" type="radio" id="anisetF_Drpd" value="ova"/>
                                                    <label for="anisetF_Drpd">Dropped</label>
                                                </li>
                                                <li title="Special">
                                                    <input name="setAnimeLstn_radio" type="radio" id="anisetF_PlnW" value="special"/>
                                                    <label for="anisetF_PlnW">Plan To Watch</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                <div  class="submit filter w-auto" >
                                    <button id="doSetAnimeList_btn" class="d-flex align-items-center" >
                                        <span class="ml-1"> Set Anime To List </span>
                                    </button>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="d-flex gap-1">
                        <div class="d-flex flex-column col-md-12">
                            <div id="anime_reviews" class="d-flex flex-column">
                                <div id="latest_reviews" class="d-flex flex-column row-gap-1 p-1">
                                    <h1 style="text-align: center">Last 5 reviews</h1>
                                    <div th:each="review : ${animeDetails.mostRecentReviews}" class="anime-review d-flex flex-column p-3">
                                        <div class="d-flex align-items-center gap-1">
                                            <h4 th:text="${review.username}" class="user_review"></h4>
                                            <h5 class="rating_review text-bg-dark p-1 ps-3 pe-3">
                                                <i class="fas fa-star me-1"></i>
                                                <span th:text="${review.score}"></span>
                                            </h5>
                                        </div>
                                        <div th:text="${review.text}" class="text_review"></div>
                                    </div>
                                </div>
                                <div style="text-align: center">
                                    <button id="viewAnimeReviews_btn" class="btn btn-primary mt-1 col-5" type="button">View all the reviews</button>
                                    <button id="writeReview_btn" class="btn btn-primary mt-1 col-5" type="button">Write a review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- JavaScript's management of the buttons -->


        <!-- AOS JavaScript -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>