<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>MyAnimeLibrary</title>
        <meta name="description" content="homePage mostPopularPage template">
        <meta name="keywords" content="homePage mostPopularPage">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="../static/img/mc_bookshelf.png">

        
        <!-- CSS file -->
        <link href="../static/css/style.css" rel="stylesheet">
        
        <!-- AOS : Animation On Scroll -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        
        <!-- AJAX jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../local/jquery-3.6.1.min.js">\x3C/script>')</script>
        
        <!-- JavaScript-->
        <script src="../static/js/searchBar.js" type="text/javascript"></script>
        <script src="../static/js/logout_btn.js" type="text/javascript"></script>
        <script src="../static/js/search_btn.js" type="text/javascript"></script>
        
        <!-- Include Bootstrap from CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>
    <body>
        <div class="main">
             <!-- Values taken with Thymeleaf from the controller to understand if the user is logged and is admin -->
            <input type="hidden" id="is_logged" th:value="${logged}"/>
            <input type="hidden" id="is_admin" th:value="${session.role == 'admin'}">
            
            <!-- Dynamic header -->
            <header class="header sticky-top shadow">

            </header>
            <!-- end of dynamic header-->

            <section id="form_section">
                <div class="head">
                    <div class="title">Filter</div>
                </div>
                <div class="body">
                    <div id = form_container>
                        <form class="filters" autocomplete="off">
                            <div class="filter">
                                <input type="text" class="form-control" placeholder="Search..." name="keyword" value>
                            </div>
                            <div class="filter">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_genre" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="value" data-placeholder="Select genre" data-label-placement="true">Select genre</span>
                                    </button>
                                    <ul class="dropdown-menu lg" aria-labelledby="dropdownMenuButton_genre">
                                        <li title="Action">
                                            <input type="checkbox" id="genre-action" value="action"/>
                                            <label for="genre-action">Action</label>
                                        </li>
                                        <li title="Adventure">
                                            <input type="checkbox" id="genre-adventure" value="adventure"/>
                                            <label for="genre-adventure">Adventure</label>
                                        </li>
                                        <li title="Cars">
                                            <input type="checkbox" id="genre-cars" value="cars"/>
                                            <label for="genre-cars">Cars</label>
                                        </li>
                                        <li title="Comedy">
                                            <input type="checkbox" id="genre-comedy" value="comedy"/>
                                            <label for="genre-comedy">Comedy</label>
                                        </li>
                                        <li title="Dementia">
                                            <input type="checkbox" id="genre-dementia" value="dementia"/>
                                            <label for="genre-dementia">Dementia</label>
                                        </li>
                                        <li title="Demons">
                                            <input type="checkbox" id="genre-demons" value="demons"/>
                                            <label for="genre-demons">Demons</label>
                                        </li>
                                        <li title="Drama">
                                            <input type="checkbox" id="genre-drama" value="drama"/>
                                            <label for="genre-drama">Drama</label>
                                        </li>
                                        <li title="Ecchi">
                                            <input type="checkbox" id="genre-ecchi" value="ecchi"/>
                                            <label for="genre-ecchi">Ecchi</label>
                                        </li>
                                        <li title="Fantasy">
                                            <input type="checkbox" id="genre-fantasy" value="fantasy"/>
                                            <label for="genre-fantasy">Fantasy</label>
                                        </li>
                                        <li title="Game">
                                            <input type="checkbox" id="genre-game" value="game"/>
                                            <label for="genre-game">Game</label>
                                        </li>
                                        <li title="Harem">
                                            <input type="checkbox" id="genre-harem" value="harem"/>
                                            <label for="genre-harem">Harem</label>
                                        </li>
                                        <li title="Hentai">
                                            <input type="checkbox" id="genre-hentai" value="hentai"/>
                                            <label for="genre-hentai">Hentai</label>
                                        </li>
                                        <li title="Historical">
                                            <input type="checkbox" id="genre-historical" value="historical"/>
                                            <label for="genre-historical">Historical</label>
                                        </li>
                                        <li title="Horror">
                                            <input type="checkbox" id="genre-horror" value="horror"/>
                                            <label for="genre-horror">Horror</label>
                                        </li>
                                        <li title="Josei">
                                            <input type="checkbox" id="genre-josei" value="josei"/>
                                            <label for="genre-josei">Josei</label>
                                        </li>
                                        <li title="Kids">
                                            <input type="checkbox" id="genre-kids" value="kids"/>
                                            <label for="genre-kids">Kids</label>
                                        </li>
                                        <li title="Magic">
                                            <input type="checkbox" id="genre-magic" value="magic"/>
                                            <label for="genre-magic">Magic</label>
                                        </li>
                                        <li title="Martial_Arts">
                                            <input type="checkbox" id="genre-martial_arts" value="martial_arts"/>
                                            <label for="genre-martial_arts">Martial Arts</label>
                                        </li>
                                        <li title="Mecha">
                                            <input type="checkbox" id="genre-mecha" value="mecha"/>
                                            <label for="genre-mecha">Mecha</label>
                                        </li>
                                        <li title="Military">
                                            <input type="checkbox" id="genre-military" value="military"/>
                                            <label for="genre-military">Military</label>
                                        </li>
                                        <li title="Music">
                                            <input type="checkbox" id="genre-music" value="music"/>
                                            <label for="genre-music">Music</label>
                                        </li>
                                        <li title="Mystery">
                                            <input type="checkbox" id="genre-mystery" value="mystery"/>
                                            <label for="genre-mystery">Mystery</label>
                                        </li>
                                        <li title="Parody">
                                            <input type="checkbox" id="genre-parody" value="parody"/>
                                            <label for="genre-parody">Parody</label>
                                        </li>
                                        <li title="Police">
                                            <input type="checkbox" id="genre-police" value="police"/>
                                            <label for="genre-police">Police</label>
                                        </li>
                                        <li title="Psychological">
                                            <input type="checkbox" id="genre-psychological" value="psychological"/>
                                            <label for="genre-psychological">Psychological</label>
                                        </li>
                                        <li title="Romance">
                                            <input type="checkbox" id="genre-romance" value="romance"/>
                                            <label for="genre-romance">Romance</label>
                                        </li>
                                        <li title="Samurai">
                                            <input type="checkbox" id="genre-samurai" value="samurai"/>
                                            <label for="genre-samurai">Samurai</label>
                                        </li>
                                        <li title="School">
                                            <input type="checkbox" id="genre-school" value="school"/>
                                            <label for="genre-school">School</label>
                                        </li>
                                        <li title="Sci-Fi">
                                            <input type="checkbox" id="genre-sci-fi" value="sci-fi"/>
                                            <label for="genre-sci-fi">Sci-Fi</label>
                                        </li>
                                        <li title="Seinen">
                                            <input type="checkbox" id="genre-seinen" value="seinen"/>
                                            <label for="genre-seinen">Seinen</label>
                                        </li>
                                        <li title="Shoujo">
                                            <input type="checkbox" id="genre-shoujo" value="shoujo"/>
                                            <label for="genre-shoujo">Shoujo</label>
                                        </li>
                                        <li title="Shoujo_Ai">
                                            <input type="checkbox" id="genre-shoujo_ai" value="shoujo_ai"/>
                                            <label for="genre-shoujo_ai">Shoujo Ai</label>
                                        </li>
                                        <li title="Shounen">
                                            <input type="checkbox" id="genre-shounen" value="shounen"/>
                                            <label for="genre-shounen">Shounen</label>
                                        </li>
                                        <li title="Shounen_Ai">
                                            <input type="checkbox" id="genre-shounen_ai" value="shounen_ai"/>
                                            <label for="genre-shounen_ai">Shounen Ai</label>
                                        </li>
                                        <li title="Slice_of_Life">
                                            <input type="checkbox" id="genre-slice_of_life" value="slice_of_life"/>
                                            <label for="genre-slice_of_life">Slice of Life</label>
                                        </li>
                                        <li title="Space">
                                            <input type="checkbox" id="genre-space" value="space"/>
                                            <label for="genre-space">Space</label>
                                        </li>
                                        <li title="Sports">
                                            <input type="checkbox" id="genre-sports" value="sports"/>
                                            <label for="genre-sports">Sports</label>
                                        </li>
                                        <li title="Super_Power">
                                            <input type="checkbox" id="genre-super_power" value="super_power"/>
                                            <label for="genre-super_power">Super Power</label>
                                        </li>
                                        <li title="Supernatural">
                                            <input type="checkbox" id="genre-supernatural" value="supernatural"/>
                                            <label for="genre-supernatural">Supernatural</label>
                                        </li>
                                        <li title="Thriller">
                                            <input type="checkbox" id="genre-thriller" value="thriller"/>
                                            <label for="genre-thriller">Thriller</label>
                                        </li>
                                        <li title="Vampire">
                                            <input type="checkbox" id="genre-vampire" value="vampire"/>
                                            <label for="genre-vampire">Vampire</label>
                                        </li>
                                        <li title="Yaoi">
                                            <input type="checkbox" id="genre-yaoi" value="yaoi"/>
                                            <label for="genre-yaoi">Yaoi</label>
                                        </li>
                                        <li title="Yuri">
                                            <input type="checkbox" id="genre-yuri" value="yuri"/>
                                            <label for="genre-yuri">Yuri</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="filter">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_season" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="value" data-placeholder="Select season" data-label-placement="true">Select season</span>
                                    </button>
                                    <ul class="dropdown-menu md " aria-labelledby="dropdownMenuButton_season">
                                        <li title="Fall">
                                            <input type="checkbox" id="season-fall" value="fall"/>
                                            <label for="season-fall">Fall</label>
                                        </li>
                                        <li title="Summer">
                                            <input type="checkbox" id="season-summer" value="summer"/>
                                            <label for="season-summer">Summer</label>
                                        </li>
                                        <li title="Spring">
                                            <input type="checkbox" id="season-spring" value="spring"/>
                                            <label for="season-spring">Spring</label>
                                        </li>
                                        <li title="Winter">
                                            <input type="checkbox" id="season-winter" value="winter"/>
                                            <label for="season-winter">Winter</label>
                                        </li>
                                        <li title="Unknown">
                                            <input type="checkbox" id="season-unknown" value="unknown"/>
                                            <label for="season-unknown">Unknown</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="filter">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_year" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="value" data-placeholder="Select year" data-label-placement="true">Select year</span>
                                    </button>
                                    <ul class="dropdown-menu lg" aria-labelledby="dropdownMenuButton_year">
                                        <li title="2024">
                                            <input type="checkbox" id="year-2024" value="2024"/>
                                            <label for="year-2024">2024</label>
                                        </li>
                                        <li title="2023">
                                            <input type="checkbox" id="year-2023" value="2023"/>
                                            <label for="year-2023">2023</label>
                                        </li>
                                        <li title="2022">
                                            <input type="checkbox" id="year-2022" value="2022"/>
                                            <label for="year-2022">2022</label>
                                        </li>
                                        <li title="2021">
                                            <input type="checkbox" id="year-2021" value="2021"/>
                                            <label for="year-2021">2021</label>
                                        </li>
                                        <li title="2020">
                                            <input type="checkbox" id="year-2020" value="2020"/>
                                            <label for="year-2020">2020</label>
                                        </li>
                                        <li title="2019">
                                            <input type="checkbox" id="year-2019" value="2019"/>
                                            <label for="year-2019">2019</label>
                                        </li>
                                        <li title="2018">
                                            <input type="checkbox" id="year-2018" value="2018"/>
                                            <label for="year-2018">2018</label>
                                        </li>
                                        <li title="2017">
                                            <input type="checkbox" id="year-2017" value="2017"/>
                                            <label for="year-2017">2017</label>
                                        </li>
                                        <li title="2016">
                                            <input type="checkbox" id="year-2016" value="2016"/>
                                            <label for="year-2016">2016</label>
                                        </li>
                                        <li title="2015">
                                            <input type="checkbox" id="year-2015" value="2015"/>
                                            <label for="year-2015">2015</label>
                                        </li>
                                        <li title="2014">
                                            <input type="checkbox" id="year-2014" value="2014"/>
                                            <label for="year-2014">2014</label>
                                        </li>
                                        <li title="2013">
                                            <input type="checkbox" id="year-2013" value="2013"/>
                                            <label for="year-2013">2013</label>
                                        </li>
                                        <li title="2012">
                                            <input type="checkbox" id="year-2012" value="2012"/>
                                            <label for="year-2012">2012</label>
                                        </li>
                                        <li title="2011">
                                            <input type="checkbox" id="year-2011" value="2011"/>
                                            <label for="year-2011">2011</label>
                                        </li>
                                        <li title="2010">
                                            <input type="checkbox" id="year-2010" value="2010"/>
                                            <label for="year-2010">2010</label>
                                        </li>
                                        <li title="2009">
                                            <input type="checkbox" id="year-2009" value="2009"/>
                                            <label for="year-2009">2009</label>
                                        </li>
                                        <li title="2008">
                                            <input type="checkbox" id="year-2008" value="2008"/>
                                            <label for="year-2008">2008</label>
                                        </li>
                                        <li title="2007">
                                            <input type="checkbox" id="year-2007" value="2007"/>
                                            <label for="year-2007">2007</label>
                                        </li>
                                        <li title="2006">
                                            <input type="checkbox" id="year-2006" value="2006"/>
                                            <label for="year-2006">2006</label>
                                        </li>
                                        <li title="2005">
                                            <input type="checkbox" id="year-2005" value="2005"/>
                                            <label for="year-2005">2005</label>
                                        </li>
                                        <li title="2004">
                                            <input type="checkbox" id="year-2004" value="2004"/>
                                            <label for="year-2004">2004</label>
                                        </li>
                                        <li title="2003">
                                            <input type="checkbox" id="year-2003" value="2003"/>
                                            <label for="year-2003">2003</label>
                                        </li>
                                        <li title="2002">
                                            <input type="checkbox" id="year-2002" value="2002"/>
                                            <label for="year-2002">2002</label>
                                        </li>
                                        <li title="2001">
                                            <input type="checkbox" id="year-2001" value="2001"/>
                                            <label for="year-2001">2001</label>
                                        </li>
                                        <li title="2000">
                                            <input type="checkbox" id="year-2000" value="2000"/>
                                            <label for="year-2000">2000</label>
                                        </li>
                                        <li title="1990s">
                                            <input type="checkbox" id="year-1990s" value="1990s"/>
                                            <label for="year-1990s">1990s</label>
                                        </li>
                                        <li title="1980s">
                                            <input type="checkbox" id="year-1980s" value="1980s"/>
                                            <label for="year-1980s">1980s</label>
                                        </li>
                                        <li title="1970s">
                                            <input type="checkbox" id="year-1970s" value="1970s"/>
                                            <label for="year-1970s">1970s</label>
                                        </li>
                                        <li title="1960s">
                                            <input type="checkbox" id="year-1960s" value="1960s"/>
                                            <label for="year-1960s">1960s</label>
                                        </li>
                                        <li title="1950s">
                                            <input type="checkbox" id="year-1950s" value="1950s"/>
                                            <label for="year-1950s">1950s</label>
                                        </li>
                                        <li title="1940s">
                                            <input type="checkbox" id="year-1940s" value="1940s"/>
                                            <label for="year-1940s">1940s</label>
                                        </li>
                                        <li title="1930s">
                                            <input type="checkbox" id="year-1930s" value="1930s"/>
                                            <label for="year-1930s">1930s</label>
                                        </li>
                                        <li title="1920s">
                                            <input type="checkbox" id="year-1920s" value="1920s"/>
                                            <label for="year-1920s">1920s</label>
                                        </li>
                                        <li title="1910s">
                                            <input type="checkbox" id="year-1910s" value="1910s"/>
                                            <label for="year-1910s">1910s</label>
                                        </li>
                                        <li title="1900s">
                                            <input type="checkbox" id="year-1900s" value="1900s"/>
                                            <label for="year-1900s">1900s</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="filter">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_type" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="value" data-placeholder="Select type" data-label-placement="true">Select type</span>
                                    </button>
                                    <ul class="dropdown-menu md " aria-labelledby="dropdownMenuButton_type">
                                        <li title="Movie">
                                            <input type="checkbox" id="type-movie" value="movie"/>
                                            <label for="type-movie">Movie</label>
                                        </li>
                                        <li title="Music">
                                            <input type="checkbox" id="type-music" value="music"/>
                                            <label for="type-music">Music</label>
                                        </li>
                                        <li title="ONA">
                                            <input type="checkbox" id="type-ona" value="ona"/>
                                            <label for="type-ona">ONA</label>
                                        </li>
                                        <li title="OVA">
                                            <input type="checkbox" id="type-ova" value="ova"/>
                                            <label for="type-ova">OVA</label>
                                        </li>
                                        <li title="Special">
                                            <input type="checkbox" id="type-special" value="special"/>
                                            <label for="type-special">Special</label>
                                        </li>
                                        <li title="TV">
                                            <input type="checkbox" id="type-tv" value="tv"/>
                                            <label for="type-tv">TV</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="filter">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_status" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="value" data-placeholder="Select status" data-label-placement="true">Select status</span>
                                    </button>
                                    <ul class="dropdown-menu sm " aria-labelledby="dropdownMenuButton_status">
                                        <li title="Currently_Watching">
                                            <input type="checkbox" id="status-currently_watching" value="currently_watching"/>
                                            <label for="status-currently_watching">Currently Watching</label>
                                        </li>
                                        <li title="Completed">
                                            <input type="checkbox" id="status-completed" value="completed"/>
                                            <label for="status-completed">Completed</label>
                                        </li>
                                        <li title="On_Hold">
                                            <input type="checkbox" id="status-on_hold" value="on_hold"/>
                                            <label for="status-on_hold">On Hold</label>
                                        </li>
                                        <li title="Dropped">
                                            <input type="checkbox" id="status-dropped" value="dropped"/>
                                            <label for="status-dropped">Dropped</label>
                                        </li>
                                        <li title="Plan_to_Watch">
                                            <input type="checkbox" id="status-plan_to_watch" value="plan_to_watch"/>
                                            <label for="status-plan_to_watch">Plan to Watch</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="filter">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_rating" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="value" data-placeholder="Select rating" data-label-placement="true">Select rating</span>
                                    </button>
                                    <ul class="dropdown-menu sm " aria-labelledby="dropdownMenuButton_rating">
                                        <li title="g">
                                            <input type="checkbox" id="rating-g" value="g"/>
                                            <label for="rating-g">G - All Ages</label>
                                        </li>
                                        <li title="pg">
                                            <input type="checkbox" id="rating-pg" value="pg"/>
                                            <label for="rating-pg">PG - Children</label>
                                        </li>
                                        <li title="pg_13">
                                            <input type="checkbox" id="rating-pg_13" value="pg_13"/>
                                            <label for="rating-pg_13">PG 13 - Teens 13 and Older</label>
                                        </li>
                                        <li title="r">
                                            <input type="checkbox" id="rating-r" value="r"/>
                                            <label for="rating-r">R - 17+, Violence & Profanity</label>
                                        </li>
                                        <li title="r+">
                                            <input type="checkbox" id="rating-r+" value="r+"/>
                                            <label for="rating-r+">R+ - Profanity & Mild Nudity</label>
                                        </li>
                                        <li title="rx">
                                            <input type="checkbox" id="rating-rx" value="rx"/>
                                            <label for="rating-rx">Rx - Hentai</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            
                            
                            <div class="filter">
                                <div class="dropdown responsive">
                                    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                        <span class="value" data-placeholder="Sort by" data-label-placement="true">Sort by</span>
                                    </button>
                                    <ul class="noclose dropdown-menu c1">
                                        <li>
                                            <input type="radio" id="sort-most_relevance" name="sort" value="most_relevance"/>
                                            <label for="sort-most_relevance">Most relevance</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-recently_updated" name="sort" value="recently_updated" checked="checked"/>
                                            <label for="sort-recently_updated">Recently updated</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-recently_added" name="sort" value="recently_added"/>
                                            <label for="sort-recently_added">Recently added</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-release_date" name="sort" value="release_date"/>
                                            <label for="sort-release_date">Release date</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-trending" name="sort" value="trending"/>
                                            <label for="sort-trending">Trending</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-title_az" name="sort" value="title_az"/>
                                            <label for="sort-title_az">Name A-Z</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-scores" name="sort" value="scores"/>
                                            <label for="sort-scores">Scores</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-mal_scores" name="sort" value="mal_scores"/>
                                            <label for="sort-mal_scores">MAL scores</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-most_watched" name="sort" value="most_watched"/>
                                            <label for="sort-most_watched">Most watched</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-most_favourited" name="sort" value="most_favourited"/>
                                            <label for="sort-most_favourited">Most favourited</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="sort-number_of_episodes" name="sort" value="number_of_episodes"/>
                                            <label for="sort-number_of_episodes">Number of episodes</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="submit filter w-auto" id="filterdobtn">
                                <button class="btn btn-primary d-flex align-items-center">
                                    <!-- 
                                        <svg class="icon" width="12" height="12">
                                            <use xlink:href="#icon-tip-filter"></use>
                                        </svg>
                                    -->
                                    <span class="ml-1">Filter</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
                    
        </div>

        <!-- AOS JavaScript -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    </body>
</html>